@use 'base';

.inner-2P4tQO,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.textarea-2r0oV8:focus,
.expandedFolderBackground-1cujaW,
.childWrapper-anI2G9,
.circleIconButton-1QV--U,
.scrollableContainer-2NUZem,
.searchBar-3dMhjb {
    background: base.$bg01 !important;
}


/* chat date divider */
.divider-JfaTT5 {
    border-color: base.$bg01 !important;
}
.content-1o0f9g {
    background: base.$bg01 !important;
}