@use 'base';

#app-mount {
    .pageWrapper-1PgVDX {
        background-color: base.$bg02 !important;
    }

    .card-3DjzTQ,
    .iconMask-3b8GzQ {
        background-color: base.$bg01 !important;
    }

    .search-1iTphC .searchBox-3Y2Vi7 .input-cIJ7To {
        background-color: #fff !important;
        color: #000 !important;
    }

    .childWrapper-anI2G9 {
        background-color: base.$bg01 !important;
    }

    .tutorialContainer-11ICd5 .childWrapper-anI2G9 > svg {display: none !important;}
    .tutorialContainer-11ICd5 .childWrapper-anI2G9::after {
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        top: 6px;
        left: 6px;
        background-image: linear-gradient(-45deg, base.$grd1, base.$grd2);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        -webkit-mask-box-image: url("https://i.imgur.com/6gPQfIO.png");
        mask-image: url('https://i.imgur.com/6gPQfIO.png');
    }

    .folder-2w6LX1 {
        background-color: transparent !important;
    }

    .expandedFolderBackground-3ZDF05 {
        background-color: var(--backgroundColor01) !important;
    }

    .circleIconButton-hZmpE8 {
        color: var(--mainColor) !important;
        background-color: var(--backgroundColor01) !important;
    }
}