@use 'base';

.members-1998pB,
.members-1998pB>div {
    background-color: base.$bg02 !important;
}

.clickable-1JJAn8.container-2Pjhx- .activity-2Gy-9S {
    color: rgba($color: #fff, $alpha: 0.5) !important;
}
.clickable-1JJAn8.container-2Pjhx-:hover .activity-2Gy-9S {
    color: rgba($color: #fff, $alpha: 0.9) !important;
}
.selected-aXhQR6 .layout-2DM8Md,
.clickable-1JJAn8.container-2Pjhx-:hover .layout-2DM8Md {
    background-color: base.$bg01 !important;
}

.layout-2DM8Md {
    position: relative;
    overflow: hidden;
}

.layout-2DM8Md::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: base.$grd1;
    background-image: linear-gradient(-45deg, base.$grd1, base.$grd2) !important;
    @include base.transition(transform .2s ease);
    @include base.transform(translateX(100%));
}

.selected-aXhQR6 .layout-2DM8Md::after {
    @include base.transform(translateX(0));
}