@use 'base';


#app-mount {
    .noiseCancellationPopout-iRK2A0 {
        background-color: base.$bg02 !important;
    }
    .notches-1sAcEM.black-1D3qCv,
    .notches-1sAcEM.gray-3_LNYR {
        background-image: linear-gradient(to left, base.$bg02, base.$bg02);
        -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%2336393f'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%2336393f'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
    }

    .progress-1IcQ3A,
    .tag-2gHSR7,
    .friendSelected-1sa4bG,
    .guildSection-1EoFKd,
    .container-2VW0UT[style="background-color: rgba(32, 34, 37, 0.9);"],
    .content-mK72R6 .message-2qRu38 {
        background-color: base.$bg01 !important;
    }

    .scroller-zPkAnE,
    .quickswitcher-3JagVE,
    .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
        background: base.$accent;
    }

    .quickSelectPopoutOption-opKBx9:hover,
    .input-2VB9rf {
        background-color: base.$bg02;
        color: #fff;
    }
    .attachedBars-tZDmyV,
    .quickSelectPopout-X1hvgV,
    .root-3JVdIJ,
    .resultFocused-3aIoYe {
        background-color: base.$bg01;
    }

    .root-1gCeng {
        background: base.$bg02 !important;
        box-shadow: none !important;

        .title-Z_XiOC,
        .title-LqAd9K,
        .backButton-iA7KIs,
        .lookBlank-3eh9lL,
        .footerTitle-2CYZch,
        .title-3w8xhj {
            color: #fff !important;
        }

        .close-hZ94c6,
        .colorHeaderSecondary-3Sp3Ft {
            color: #ccc !important;
        }

        .footer-2gL1pp {
            background: base.$bg02 !important;
            box-shadow: none !important;
        }

        .container-UC8Ug1 {
            border: none !important;
            background-color: base.$bg01;

            .colorStandard-2KCXvj {
                color: #fff !important;
            }
        }

        .uploadIcon-2IFzZU svg circle {
            fill: base.$accent !important;
        }
    }

    .input-cIJ7To {
        background-color: base.$bg01 !important;
        color: #fff !important;
        border-color: transparent !important;
    }

    .input-cIJ7To:hover,
    .input-cIJ7To:focus {
        border-color: base.$accent !important;
    }

    .emojiSection-3Fb9ix,
    .tooltipPrimary-1d1ph4 {
        background-color: base.$accent !important;
    }

    .tooltipPointer-3ZfirK {
        border-top-color: base.$accent !important;
    }

    .uploadModal-2ifh8j {
        background-color: base.$bg02 !important;
    }
    .footer-3mqk7D {
        background-color: base.$bg02 !important;
        box-shadow: inset 0 0 0 1000px rgba($color: #000000, $alpha: 0.3);
    }

    .checkbox-1ix_J3 {
        border-color: rgba($color: #ffffff, $alpha: 0.15);
    }
    .checkbox-1ix_J3[style*="rgb(79, 84, 92)"] {
        border-color: base.$accent !important;
        background-color: base.$accent !important;
    }
    .checkbox-1ix_J3[style*="rgb(79, 84, 92)"] svg path {
        fill: #fff !important;
    }
}

.bd-modal-wrapper .bd-modal-inner {
    background-color: base.$bg02 !important;
}

.bd-toast {
    background: base.$bg01;
    border: none !important;
}

.bd-toast.toast-success {
    background: base.$accent;
    background-repeat: no-repeat;
    background-position: 3px 50%;
}