@use 'base';

#app-mount {
    .reaction-2A2y9y{
        background-color: base.$bg01 !important;
    }

    .reaction-2A2y9y.reactionMe-3I9gFK {
        background-color: base.$accent !important;
        border-color: rgba($color: #ffffff, $alpha: 0.5) !important;
    }

    .root-g14mjS {
        .reactionSelected-1aMb2K,
        .reactors-1VXca7 {
            background-color: base.$bg01 !important;
        }

        .scroller-2GkvCq {
            background-color: base.$bg02 !important;
        }
    }
    .inspector-DFKXwB,
    .wrapper-1NNaWG,
    .emojiPicker-6YCk8a {
        background-color: base.$bg01 !important;
    }
    .emojiItem-277VFM.emojiItemSelected-2Lg50V,
    .wrapper-22rqw6,
    .container-1SX9VC {
        background-color: base.$bg02 !important;
    }
    .categoryItemDefaultCategorySelected-2YeRUu,
    .categoryItemDefaultCategorySelected-2YeRUu:hover {
        background-color: base.$accent !important;
    }
} 