/* removing things */
.guildSeparator-33mFX6,
.libraryHeader-3g95kE:before,
.tabBody-3YRQ8W:before,
.content-yTz4x3:before,
.children-19S4PO:after,
.form-2fGMdU:before {
    display: none !important;
}

/* removing shadows */
.header-2V-4Sw,
.searchBar-6Kv8R2,
.header-2o-2hj {
    box-shadow: none !important;
}

.container-1giJp5 {
    border: none !important;
}