@use 'base';

#app-mount {
    .messagesPopout-eVzQcI::-webkit-scrollbar,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar,
    .scroller-2qwVWY::-webkit-scrollbar,
    .scroller::-webkit-scrollbar,
    .infoScroller-1QMpon::-webkit-scrollbar,
    .listScroller-2FcOQF::-webkit-scrollbar,
    .scroller-kQBbkU::-webkit-scrollbar,
    .rolesList-3uZoaa::-webkit-scrollbar,
    .templatesList-uohY49::-webkit-scrollbar,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar,
    .keybindGroup-39HP2U::-webkit-scrollbar,
    .scroller-1ox3I2::-webkit-scrollbar,
    .scrollerBase-_bVAAt::-webkit-scrollbar,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar {
        width: 5px;
        display: none;
        background: transparent !important;
    }

    .messagesPopout-eVzQcI::-webkit-scrollbar-track,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar-track,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar-track,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar-track,
    .scroller-2qwVWY::-webkit-scrollbar-track,
    .scroller::-webkit-scrollbar-track,
    .infoScroller-1QMpon::-webkit-scrollbar-track,
    .listScroller-2FcOQF::-webkit-scrollbar-track,
    .scroller-kQBbkU::-webkit-scrollbar-track,
    .rolesList-3uZoaa::-webkit-scrollbar-track,
    .templatesList-uohY49::-webkit-scrollbar-track,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar-track,
    .keybindGroup-39HP2U::-webkit-scrollbar-track,
    .scrollerBase-_bVAAt::-webkit-scrollbar-track,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar-track {
        margin: 0;
    }

    .messagesPopout-eVzQcI::-webkit-scrollbar-track-piece,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar-track-piece,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar-track-piece,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar-track-piece,
    .scroller-2qwVWY::-webkit-scrollbar-track-piece,
    .scroller::-webkit-scrollbar-track-piece,
    .infoScroller-1QMpon::-webkit-scrollbar-track-piece,
    .listScroller-2FcOQF::-webkit-scrollbar-track-piece,
    .scroller-kQBbkU::-webkit-scrollbar-track-piece,
    .rolesList-3uZoaa::-webkit-scrollbar-track-piece,
    .templatesList-uohY49::-webkit-scrollbar-track-piece,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar-track-piece,
    .keybindGroup-39HP2U::-webkit-scrollbar-track-piece,
    .scrollerBase-_bVAAt::-webkit-scrollbar-track-piece,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar-track-piece {
        background: transparent !important;
        border-color: transparent !important;
    }

    .messagesPopout-eVzQcI::-webkit-scrollbar-thumb,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar-thumb,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar-thumb,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar-thumb,
    .scroller-2qwVWY::-webkit-scrollbar-thumb,
    .scroller::-webkit-scrollbar-thumb,
    .infoScroller-1QMpon::-webkit-scrollbar-thumb,
    .listScroller-2FcOQF::-webkit-scrollbar-thumb,
    .scroller-kQBbkU::-webkit-scrollbar-thumb,
    .rolesList-3uZoaa::-webkit-scrollbar-thumb,
    .templatesList-uohY49::-webkit-scrollbar-thumb,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar-thumb,
    .keybindGroup-39HP2U::-webkit-scrollbar-thumb,
    .scroller-1ox3I2::-webkit-scrollbar-thumb,
    .scrollerBase-_bVAAt::-webkit-scrollbar-thumb,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar-thumb {
        background-color: base.$bg01;
        border-radius: 0;
        border-radius: 50px;
        border: none;
    }

    .messagesPopout-eVzQcI::-webkit-scrollbar-thumb:hover,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar-thumb:hover,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar-thumb:hover,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar-thumb:hover,
    .scroller-2qwVWY::-webkit-scrollbar-thumb:hover,
    .scroller::-webkit-scrollbar-thumb:hover,
    .infoScroller-1QMpon::-webkit-scrollbar-thumb:hover,
    .listScroller-2FcOQF::-webkit-scrollbar-thumb:hover,
    .scroller-kQBbkU::-webkit-scrollbar-thumb:hover,
    .rolesList-3uZoaa::-webkit-scrollbar-thumb:hover,
    .templatesList-uohY49::-webkit-scrollbar-thumb:hover,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar-thumb:hover,
    .keybindGroup-39HP2U::-webkit-scrollbar-thumb:hover,
    .scroller-1ox3I2::-webkit-scrollbar-thumb:hover,
    .scrollerBase-_bVAAt::-webkit-scrollbar-thumb:hover,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar-thumb:hover {
        background-color: base.$bg01;
    }

    .messagesPopout-eVzQcI::-webkit-scrollbar-thumb:active,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar-thumb:active,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar-thumb:active,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar-thumb:active,
    .scroller-2qwVWY::-webkit-scrollbar-thumb:active,
    .scroller::-webkit-scrollbar-thumb:active,
    .infoScroller-1QMpon::-webkit-scrollbar-thumb:active,
    .listScroller-2FcOQF::-webkit-scrollbar-thumb:active,
    .scroller-kQBbkU::-webkit-scrollbar-thumb:active,
    .rolesList-3uZoaa::-webkit-scrollbar-thumb:active,
    .templatesList-uohY49::-webkit-scrollbar-thumb:active,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar-thumb:active,
    .keybindGroup-39HP2U::-webkit-scrollbar-thumb:active,
    .scroller-1ox3I2::-webkit-scrollbar-thumb:active,
    .scrollerBase-_bVAAt::-webkit-scrollbar-thumb:active,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar-thumb:active {
        background-color: base.$bg01;
    }

    .messagesPopout-eVzQcI::-webkit-scrollbar-button,
    .messagesPopout-eVzQcI::-webkit-scrollbar-corner,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar-button,
    .listWrapper-2nHLP8 .scroller-2FKFPG::-webkit-scrollbar-corner,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar-button,
    .contentWrapper-3vHNP2 .scroller-2FKFPG::-webkit-scrollbar-corner,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar-button,
    .container-2cd8Mz .scrollerBase-_bVAAt::-webkit-scrollbar-corner,
    .scroller-2qwVWY::-webkit-scrollbar-button,
    .scroller-2qwVWY::-webkit-scrollbar-corner,
    .scroller::-webkit-scrollbar-button,
    .scroller::-webkit-scrollbar-corner,
    .infoScroller-1QMpon::-webkit-scrollbar-button,
    .infoScroller-1QMpon::-webkit-scrollbar-corner,
    .listScroller-2FcOQF::-webkit-scrollbar-button,
    .listScroller-2FcOQF::-webkit-scrollbar-corner,
    .scroller-kQBbkU::-webkit-scrollbar-button,
    .scroller-kQBbkU::-webkit-scrollbar-corner,
    .rolesList-3uZoaa::-webkit-scrollbar-button,
    .rolesList-3uZoaa::-webkit-scrollbar-corner,
    .templatesList-uohY49::-webkit-scrollbar-button,
    .templatesList-uohY49::-webkit-scrollbar-corner,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar-button,
    .scroller-1ox3I2::-webkit-scrollbar-button,
    .scroller-1ox3I2::-webkit-scrollbar-corner,
    .autocompleteScroller-3L6kmy::-webkit-scrollbar-corner,
    .keybindGroup-39HP2U::-webkit-scrollbar-button,
    .keybindGroup-39HP2U::-webkit-scrollbar-corner,
    .scrollerBase-_bVAAt::-webkit-scrollbar-button,
    .scrollerBase-_bVAAt::-webkit-scrollbar-corner,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar-button,
    .regionSelectModalOptions-2TWQOB::-webkit-scrollbar-corner {
        display: none !important;
    }

    .messagesPopout-eVzQcI:hover,
    .listWrapper-2nHLP8 .scroller-2FKFPG:hover,
    .contentWrapper-3vHNP2 .scroller-2FKFPG:hover,
    .container-2cd8Mz .scrollerBase-_bVAAt:hover,
    .scroller-2qwVWY:hover,
    .scroller:hover,
    .infoScroller-1QMpon:hover,
    .listScroller-2FcOQF:hover,
    .scroller-kQBbkU:hover,
    .rolesList-3uZoaa:hover,
    .templatesList-uohY49:hover,
    .autocompleteScroller-3L6kmy:hover,
    .keybindGroup-39HP2U:hover,
    .scroller-1ox3I2:hover,
    .scrollerBase-_bVAAt:hover,
    .regionSelectModalOptions-2TWQOB:hover {
        overflow: overlay !important;
    }

    .messagesPopout-eVzQcI:hover::-webkit-scrollbar,
    .listWrapper-2nHLP8 .scroller-2FKFPG:hover::-webkit-scrollbar,
    .contentWrapper-3vHNP2 .scroller-2FKFPG:hover::-webkit-scrollbar,
    .container-2cd8Mz .scrollerBase-_bVAAt:hover::-webkit-scrollbar,
    .scroller-2qwVWY:hover::-webkit-scrollbar,
    .scroller:hover::-webkit-scrollbar,
    .infoScroller-1QMpon:hover::-webkit-scrollbar,
    .listScroller-2FcOQF:hover::-webkit-scrollbar,
    .scroller-kQBbkU:hover::-webkit-scrollbar,
    .rolesList-3uZoaa:hover::-webkit-scrollbar,
    .templatesList-uohY49:hover::-webkit-scrollbar,
    .autocompleteScroller-3L6kmy:hover::-webkit-scrollbar,
    .scroller-1ox3I2:hover::-webkit-scrollbar,
    .scrollerBase-_bVAAt:hover::-webkit-scrollbar,
    .keybindGroup-39HP2U:hover::-webkit-scrollbar,
    .regionSelectModalOptions-2TWQOB:hover::-webkit-scrollbar {
        display: block;
    }

    .wrapper-22ayhK,
    .wrapper-15CKyy {
        background-color: base.$bg02 !important;
    }

    .attachment-16cAbS,
    .avatar-l9Txm5,
    .blob-1uHjdp {
        background-color: rgba($color: #fff, $alpha: 0.6) !important;
    }
} // Smw Check



