@use 'base';


.container-3ayLPN {
    background-color: base.$bg01 !important;
}
.option-96V44q:after {
    display: none;
}
.option-96V44q.selected-rZcOL-,
.focused-2bY0OD,
.searchAnswer-3Dz2-q,
.searchFilter-2ESiM3 {
    background-color: base.$bg02 !important;
}


.button-11zvza,
.channelName-1JRO3C,
.searchHeader-2XoQg7,
.searchResultsWrap-3-pOjs {
    background-color: base.$bg02 !important;
}

.tab-2j5AEF.selected-2LAck8,
.searchResult-9tQ1uo {
    background-color: base.$bg01 !important;
}