@use 'base';

#app-mount {
    .divider-ewBQKj {
        display: none;
    }
    .bodyInnerWrapper-26fQXj {
        padding: 0;
    }
    .bodyTitle-1ySSKn {
        padding: 0 16px;
    }
    .body-3HBlXn {
        padding: 0 !important;
        padding-bottom: 16px !important;
    }

    .aboutMeSection-1Fw5Ia {
        padding: 16px;
    }

    .avatar-AvHqJA {
        border-color: base.$bg02 !important;
    }

    .topSection-y3p-_D {
        background-color: base.$bg02 !important;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
        position: relative;
        z-index: 200;
    }

    .tabBarContainer-37hZsr {
        border: none !important;
        background-color: rgba(0, 0, 0, .2);

        .selected-3s45Ha.item-PXvHYJ,
        .selected-3s45Ha.item-PXvHYJ:hover {
            color: base.$accent;
            border-bottom-color: base.$accent;
        }
    }

    .body-r6_QPy {
        background-color: base.$bg01 !important;
    }
    .infoScroller-1Qu30O {
        padding: 16px !important;
    }
    .userInfoSection-q_35fn {
        padding: 0 !important;

        .note-367eZJ {
            margin: 0 0 16px 0;

            textarea {
                background-color: base.$bg02 !important;
                border-radius: 4px;
            }
        }
    }

    .userInfoSection-q_35fn+.userInfoSection-q_35fn {
        border: none !important;
    }

    .connectedAccount-2Jb-Z0 {
        border: none !important;
        background-color: rgba(0, 0, 0, .2);
    }

    .listScroller-3GmIYj {
        padding: 8px 16px !important;

        .listRow-1iDGel {
            margin: 0;
        }
        .listRow-1iDGel:hover {
            background-color: base.$bg02 !important;
            border-radius: 6px;
        }
    }

    .activity-2INFPu {
        overflow: hidden;
        position: relative;
        background-color: base.$bg01;
        padding: 16px;
        margin-bottom: 16px;

        .headerText-1HLrL7,
        .headerText-1HLrL7,
        .anchor-3Z-8Bb,
        .executedCommand-2GE3w2 .commandName-1klrjB,
        .markup-2BOw-j a {
            color: #fff !important;
        }

        .lookFilled-1Gx00P.colorGrey-2DXtkV {
            background-color: #ffffff !important;
            color: #1DB954 !important;
            box-shadow: 0 2px 10px 0 rgba($color: #000, $alpha: 0.35);
        }

        .bar-3urHkF {
            background-color: rgba(0, 0, 0, .5);
        }

        >* {
            position: relative;
            z-index: 10;
        }
    }
    .activity-2INFPu::before {
        background-color: base.$accent;
        background-image: linear-gradient(-45deg, base.$grd1, base.$grd2);
        opacity: .75;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }

    .spotifyIcon-2J9kSv {
        position: absolute !important;
        top: 16px;
        right: 16px;
        
        path {
            fill: #fff !important;
        }
    }

    .avatar-37jOim {
        background-color: base.$bg01 !important;
        border-color: base.$bg01 !important;
    }

    .headerTop-2cWpdB {
        background-color: base.$bg01;
        border: none !important;
    }

    .activity-fViXj7 {
        padding: 16px !important;

        .anchor-3Z-8Bb,
        .headerText-1HLrL7 {color: white !important;}

        >svg {
            top: 16px;
            right: 16px;
            position: absolute;

            path {fill: white;}
        }
        .timeBarUserPopout-AWPFf2 .bar-3urHkF {
            background-color: base.$bg01;
        }
    }

    .customStatus-oN4ZZY {
        padding: 0 16px;
    }

    .userPopout-3XzG_A {
        background-color: base.$bg01 !important;
        @include base.shadows(0 0 10px 0 rgba(0, 0, 0, .5));
    }

    .footer-3UKYOU,
    .bodyInnerWrapper-26fQXj,
    .userPopout-xaxa6l {
        background-color: base.$bg01 !important;
    }

    .avatar-22FtUu {
        border: 6px solid base.$bg01;
        background-color: base.$bg02;
    }

    .footer-1fjuF6 {
        input {
            background-color: rgba($color: #000, $alpha: 0.3) !important;
            border: 1px solid rgba($color: #000, $alpha: 0.3);
        }

        input:hover {
            border-color: base.$bg02;
        }

        input:focus,
        input:focus:hover {
            background-color: base.$bg02 !important;
            border-color: base.$accent;
        }
    }

    .rolesList-1geHY1 {
        padding: 0 16px;
    }


    .note-1oo11U {
        margin: 0 16px !important;

        textarea {
            background-color: rgba($color: #000, $alpha: 0.3) !important;
            border: 1px solid rgba($color: #000, $alpha: 0.3);
        }

        textarea:hover {
            border-color: base.$bg02;
        }

        textarea:focus,
        textarea:focus:hover {
            background-color: base.$bg02 !important;
            border-color: base.$accent;
        }
    }
    .note-3HfJZ5 {
        margin: 0 8px 0 0 !important;
    }


    .role-2irmRk {
        background-color: transparent !important;
        border: 2px solid currentColor;
        border-radius: 50px;
    }

    .addButton-pcyyf6 {
        border: none !important;
    }

    .container-3XJ8ns {
        background-color: base.$bg01 !important;
        @include base.shadows(inset 0 0 0 100000px rgba($color: #000, $alpha: 0.3), 0 0 10px 0 rgba(0, 0, 0, .5));
        border: none !important;

        .inner-2P4tQO {
            background-color: base.$bg02 !important;
            border: 1px solid rgba(0, 0, 0, .2);
        }

        .focused-dKLoQt,
        .item-2J2GlB:hover {
            background-color: base.$bg02 !important;
        }
    }


    .tabBarContainer-1s1u-z {
        border: none !important;
        background-color: base.$bg02 !important;

        .tabBarItem-1b8RUP {
            color: rgba($color: #ffffff, $alpha: 0.5) !important;
        }

        .tabBarItem-1b8RUP:hover {
            border-color: rgba($color: #ffffff, $alpha: 0.5) !important;
        }

        .tabBarItem-1b8RUP[aria-selected='true'],
        .tabBarItem-1b8RUP[aria-selected='true']:hover {
            color: #fff !important;
            border-color: base.$accent !important;
        }
    }

    .userInfoSection-2acyCx:nth-child(2) {
        border: none !important;
    }

    .connectedAccount-36nQx7 {
        background-color: base.$bg02;
        border: none !important;
    }

    .listRow-hutiT_:hover {
        background-color: base.$bg02;
    }



    .topSectionNormal-2-vo2m {
        background-color: base.$bg01 !important;
        @include base.shadows(inset 0 0 0 100000px rgba($color: #000, $alpha: 0.3));
    }
    .topSectionPlaying-1J5E4n {
        background-color: base.$grd1;
        background-image: linear-gradient(-45deg, base.$grd1, base.$grd2) !important;

        .assets-VMAukC {
            @include base.shadows(0 7px 10px -4px rgba(0, 0, 0, .3));
        }
    }
    .topSectionStreaming-1Tpf5X {
        background-color: #593695;
        background-image: linear-gradient(-45deg, #593695, #7651b6) !important;
        @include base.shadows(inset 0 0 0 100000px rgba($color: #000, $alpha: 0.2));
    }
    .topSectionSpotify-1lI0-P {
        background-color: #1db954;
        background-image: linear-gradient(-45deg, #1db954, #1db944) !important;
        @include base.shadows(inset 0 0 0 100000px rgba($color: #000, $alpha: 0.2));
    }


    .aboutMeSection---MkQa {
        background-color: transparent !important;
    }
    .newBrand .textBadge-1iylP6[style*="rgb(88, 101, 242)"] {
        background-color: base.$accent !important;
    }
}