//META{"name":"Nocturnal","description":"A simple & clean dark theme for thoses who live at night, made to be easy on the eye","author":"Spectra#7698","version":"1.0","source":"https://github.com/codedotspectra/themes","website":"https://codedotspectra.github.io/me/"}*//{}
/*

███╗   ██╗ ██████╗  ██████╗████████╗██╗   ██╗██████╗ ███╗   ██╗ █████╗ ██╗
████╗  ██║██╔═══██╗██╔════╝╚══██╔══╝██║   ██║██╔══██╗████╗  ██║██╔══██╗██║
██╔██╗ ██║██║   ██║██║        ██║   ██║   ██║██████╔╝██╔██╗ ██║███████║██║
██║╚██╗██║██║   ██║██║        ██║   ██║   ██║██╔══██╗██║╚██╗██║██╔══██║██║
██║ ╚████║╚██████╔╝╚██████╗   ██║   ╚██████╔╝██║  ██║██║ ╚████║██║  ██║███████╗
╚═╝  ╚═══╝ ╚═════╝  ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝

###################################################################################################
Nocturnal Theme for Better Discord

The author (Spectra#7698) retains full rights of this code.
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
You are allowed to edit the theme for personal use only.
If you enjoy using the theme, help spread the word!

This theme is meant to be used with the dark version of discord
###################################################################################################*/
@import url("https://raw.githack.com/codedotspectra/themes/master/nocturnal/importCSS/core.css");
/*###################################################################################################*/
