@import url('https://fonts.googleapis.com/css?family=Anton');

.userPopout-3XzG_A {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIyMDAiIHZlcnNpb249IjEuMSI+ICA8cGF0aCBkPSJNMTAgMCBMMTQwIDAgTDE1MCAxMCBMMTUwIDE5MCBMMTQwIDIwMCBMMTAgMjAwIEwwIDE5MCBMMCAxMCBMMTAgMCBaIiBmaWxsPSIjZmZjZDAyIi8+ICA8cGF0aCBkPSJNMTUgNSBMMTM1IDUgTDE0NSAxNSBMMTQ1IDE4NSBMMTM1IDE5NSBMMTUgMTk1IEw1IDE4NSBMNSAxNSBMMTUgNSBaIiBmaWxsPSIjNGM3ZmExIi8+PC9zdmc+);
  box-shadow: none !important;
  border-radius: 0 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body-3iLsc4,
.activity-11LB_k,
.footer-1fjuF6,
.header-2BwW8b {background-color: transparent !important;}

/* channels text */
.name-3M0b8v,
.overflowEllipsis-2JOaZ6 {
  font-family: "Anton", sans-serif !important;
}
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
  color: #4c7fa1;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000;
}
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {
  color: #315268;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000;
}
.nameHoveredText-1uO31y, .nameHoveredVoice-YJ1Vfd,
.nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5{
  color: #ffcd02;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000;
}
.nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI {
  color: #b38f00;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000;
}
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {font-size: 17.6px;}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
  color: #a3edf4;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #1a1a1a;
}
.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB {
  color: #76e5ef;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #1a1a1a;
}
