/**
* @name Nocturnal
* @author Specta#4577
* @description For when default discord just isn't dark enough
* @invite PZdnCVD
* @version 3.0.0
*/
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
.keyboardShortcutsModal-3piNz7,
.modalTitle-37O4n6,
.bg-h5JY_x,
.scroller-2ZPeAD,
.wrapper-2qzCYF,
.sidebarRegionScroller-3MXcoP,
.standardSidebarView-3F1I7i,
.contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.scroller-9moviB,
.applicationStore-1pNvnv,
.header-39GIC8,
.scroller-1IIF0A,
.nowPlayingColumn-2sl4cE,
.container-1D34oG,
.inviteToolbar-3F-l2g,
.scroller-1JbKMe,
.privateChannels-1nO12o,
.panels-j1Uci_,
.container-3w7J-x,
.container-1r6BKw.themed-ANHk51,
.chat-3bRxxu,
.threadSidebar-1o3BTy,
.sidebar-2K8pFh,
.scroller-1Bvpku,
.scroller-2XE8rp,
.wrapper-3NnKdC,
.layer-3QrUeG {
  background-color: #12171d !important;
}

.inner-2P4tQO,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.textarea-2r0oV8:focus,
.expandedFolderBackground-1cujaW,
.childWrapper-anI2G9,
.circleIconButton-1QV--U,
.scrollableContainer-2NUZem,
.searchBar-3dMhjb {
  background: #1e2731 !important;
}

/* chat date divider */
.divider-JfaTT5 {
  border-color: #1e2731 !important;
}

.content-1o0f9g {
  background: #1e2731 !important;
}

/* removing things */
.guildSeparator-33mFX6,
.libraryHeader-3g95kE:before,
.tabBody-3YRQ8W:before,
.content-yTz4x3:before,
.children-19S4PO:after,
.form-2fGMdU:before {
  display: none !important;
}

/* removing shadows */
.header-2V-4Sw,
.searchBar-6Kv8R2,
.header-2o-2hj {
  box-shadow: none !important;
}

.container-1giJp5 {
  border: none !important;
}

.icon-1S6UIr,
.icon-1DeIlz,
.actionIcon-PgcMM2,
.icon-LYJorE,
.iconContainer-2-XQPY,
.icon-35-fSh,
.linkButtonIcon-Mlm5d6,
.button-14-BFJ svg,
.attachButtonPlus-jWVFah,
.buttonWrapper-1ZmCpA svg,
.icon-22AiRD {
  color: #2275c9 !important;
  fill: #2275c9 !important;
}

/* Discord text svg */
.wordmarkWindows-1v0lYD {
  color: #2275c9 !important;
}

/* nocturnal watermark 
.wordmarkWindows-1v0lYD::after {
    position: absolute;
    content: '';
    top: 7px;
    height: 10px;
    width: 100px;
    margin-left: -10px;
    color: base.$accentAlt;
    background-image: url('https://i.imgur.com/eWgrSua.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

*/
.wordmarkWindows-1v0lYD::after {
  position: absolute;
  content: "NOCTURNAL";
  top: 7px;
  height: 10px;
  width: 100px;
  margin-left: -10px;
  color: #2275c9;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tutorialContainer-2sGCg9 .childWrapper-anI2G9::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  top: 6px;
  left: 6px;
  -webkit-mask-image: url("https://limeshark.dev/bd/i/nocturnal.svg");
  background-image: linear-gradient(-45deg, #00F260, #0575E6) !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.homeIcon-FuNwkv {
  display: none;
}

.userPopout-3XzG_A {
  background-color: #1e2731 !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.body-3ND3kc,
.body-3iLsc4,
.footer-1fjuF6 {
  background-color: #1e2731 !important;
}

/* header normal */
.topSectionNormal-2-vo2m,
.headerNormal-T_seeN {
  background-color: #1e2731 !important;
  -webkit-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3);
}

/* header playing */
.topSectionPlaying-1J5E4n,
.headerPlaying-j0WQBV {
  background-color: #00F260;
  background-image: linear-gradient(-45deg, #00F260, #0575E6) !important;
  -webkit-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
}
.topSectionPlaying-1J5E4n .assets-VMAukC,
.headerPlaying-j0WQBV .assets-VMAukC {
  -webkit-box-shadow: 0 7px 10px -4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 7px 10px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 7px 10px -4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 7px 10px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 10px -4px rgba(0, 0, 0, 0.3);
}

/* header streaming */
.topSectionStreaming-1Tpf5X,
.headerStreaming-2FjmGz {
  background-color: #593695;
  background-image: linear-gradient(-45deg, #593695, #7651b6) !important;
  -webkit-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
}

/* header spotify */
.topSectionSpotify-1lI0-P,
.headerSpotify-zpWxgT {
  background-color: #1db954;
  background-image: linear-gradient(-45deg, #1db954, #1db944) !important;
  -webkit-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.2);
}

/* header xbox */
/* send msg */
.footer-1fjuF6 input {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.footer-1fjuF6 input:hover {
  border-color: #12171d;
}
.footer-1fjuF6 input:focus,
.footer-1fjuF6 input:focus:hover {
  border-color: #2275c9;
}

/* note */
.note-QfFU8y,
.note-3HfJZ5 {
  margin: 0 !important;
}
.note-QfFU8y textarea,
.note-3HfJZ5 textarea {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.note-QfFU8y textarea:hover,
.note-3HfJZ5 textarea:hover {
  border-color: #12171d;
}
.note-QfFU8y textarea:focus,
.note-QfFU8y textarea:focus:hover,
.note-3HfJZ5 textarea:focus,
.note-3HfJZ5 textarea:focus:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-color: #2275c9;
}

/* roles */
.rolesList-22qj2L > div {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none !important;
}
.rolesList-22qj2L > button {
  padding: 0;
  border-radius: 4px;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.rolesList-22qj2L > button > svg {
  color: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  -webkit-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
.rolesList-22qj2L > button:hover > svg,
.rolesList-22qj2L > button[aria-expanded=true] > svg {
  color: #2275c9;
}

.container-3XJ8ns {
  background-color: #1e2731 !important;
  -webkit-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border: none !important;
}
.container-3XJ8ns .inner-2P4tQO {
  background-color: #12171d !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.container-3XJ8ns .focused-dKLoQt,
.container-3XJ8ns .item-2J2GlB:hover {
  background-color: #12171d !important;
}

/* big popout navbar */
.tabBarContainer-1s1u-z {
  border: none !important;
  background-color: #12171d !important;
}
.tabBarContainer-1s1u-z .tabBarItem-1b8RUP {
  color: rgba(255, 255, 255, 0.5) !important;
}
.tabBarContainer-1s1u-z .tabBarItem-1b8RUP:hover {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.tabBarContainer-1s1u-z .tabBarItem-1b8RUP[aria-selected=true],
.tabBarContainer-1s1u-z .tabBarItem-1b8RUP[aria-selected=true]:hover {
  color: #fff !important;
  border-color: #2275c9 !important;
}

.userInfoSection-2acyCx:nth-child(2) {
  border: none !important;
}

.connectedAccount-36nQx7 {
  background-color: #12171d;
  border: none !important;
}

.members-1998pB,
.members-1998pB > div {
  background-color: #12171d !important;
}

.clickable-1JJAn8.container-2Pjhx- .activity-2Gy-9S {
  color: rgba(255, 255, 255, 0.5) !important;
}

.clickable-1JJAn8.container-2Pjhx-:hover .activity-2Gy-9S {
  color: rgba(255, 255, 255, 0.9) !important;
}

.selected-aXhQR6 .layout-2DM8Md,
.clickable-1JJAn8.container-2Pjhx-:hover .layout-2DM8Md {
  background-color: #1e2731 !important;
}

.layout-2DM8Md {
  position: relative;
  overflow: hidden;
}

.layout-2DM8Md::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #00F260;
  background-image: linear-gradient(-45deg, #00F260, #0575E6) !important;
  -webkit-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.selected-aXhQR6 .layout-2DM8Md::after {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.emptyIconFriends-BrjhY9,
.emptyIconGuilds-3OViNh,
.emptyIconStreamerMode-3RfWOW {
  mix-blend-mode: soft-light;
}

/*# sourceMappingURL=nocturnal.theme.css.map */
