/**
 * @name Neutron Nova
 * @version 9.0
 * @description A highly customizable Vibrant Purple Space Theme, now sugar free!
 * @author Cruxie + w1zard
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 *//*
$$\   $$\ $$$$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\   $$$$$$\  $$\   $$\       $$\   $$\  $$$$$$\  $$\    $$\  $$$$$$\  
$$$\  $$ |$$  _____|$$ |  $$ |\__$$  __|$$  __$$\ $$  __$$\ $$$\  $$ |      $$$\  $$ |$$  __$$\ $$ |   $$ |$$  __$$\ 
$$$$\ $$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ /  $$ |$$$$\ $$ |      $$$$\ $$ |$$ /  $$ |$$ |   $$ |$$ /  $$ |
$$ $$\$$ |$$$$$\    $$ |  $$ |   $$ |   $$$$$$$  |$$ |  $$ |$$ $$\$$ |      $$ $$\$$ |$$ |  $$ |\$$\  $$  |$$$$$$$$ |
$$ \$$$$ |$$  __|   $$ |  $$ |   $$ |   $$  __$$< $$ |  $$ |$$ \$$$$ |      $$ \$$$$ |$$ |  $$ | \$$\$$  / $$  __$$ |
$$ |\$$$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ |  $$ |$$ |\$$$ |      $$ |\$$$ |$$ |  $$ |  \$$$  /  $$ |  $$ |
$$ | \$$ |$$$$$$$$\ \$$$$$$  |   $$ |   $$ |  $$ | $$$$$$  |$$ | \$$ |      $$ | \$$ | $$$$$$  |   \$  /   $$ |  $$ |
\__|  \__|\________| \______/    \__|   \__|  \__| \______/ \__|  \__|      \__|  \__| \______/     \_/    \__|  \__|
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/neutron.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://xcruxiex.github.io/themes/core/hljs.css"); /* Code Block Styles */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); /* Custom font import link (see fonts.google.com) */
/*##########################################################################

                 CHANGE VALUES BELOW TO CUSTOMIZE YOU THEME

##########################################################################*/
:root {
  /* COLORS */
  --themeColor1: rgb(96, 62, 207); /* Theme's color 1 */
  --themeColor2: rgb(80, 51, 173); /* Theme's color 2 */

  /* CUSTOM FONT */
  --customFont: 'Quicksand', monospace; /* Custom font, change the name in 'font name here', you must import the font first */

  /* HOME BUTTON */
  --homeImage: url('https://i.vgy.me/EHVyhc.jpg');/* Home button image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --homeImageSize: cover;/* To cover the button, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */

  /* BACKGROUND */
  --backgroundImage: url('https://i.vgy.me/nRrqd7.jpg');/* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --backgroundColor: rgba(13, 13, 13, 0.5); /* Background color */
  --backgroundPosition: center; /* Image position | center, left, right, bottom, top */
  --backgroundSize: Cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --backgroundRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --backgroundBlur: 0px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --backgroundOpacity: .5; /* 0 is transparent */

  /* CODE BLOCKS */
  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);
}
