/**
 * @name Neutron
 * @version 8.1
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 *//*
$$\   $$\ $$$$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\   $$$$$$\  $$\   $$\
$$$\  $$ |$$  _____|$$ |  $$ |\__$$  __|$$  __$$\ $$  __$$\ $$$\  $$ |
$$$$\ $$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ /  $$ |$$$$\ $$ |
$$ $$\$$ |$$$$$\    $$ |  $$ |   $$ |   $$$$$$$  |$$ |  $$ |$$ $$\$$ |
$$ \$$$$ |$$  __|   $$ |  $$ |   $$ |   $$  __$$< $$ |  $$ |$$ \$$$$ |
$$ |\$$$ |$$ |      $$ |  $$ |   $$ |   $$ |  $$ |$$ |  $$ |$$ |\$$$ |
$$ | \$$ |$$$$$$$$\ \$$$$$$  |   $$ |   $$ |  $$ | $$$$$$  |$$ | \$$ |
\__|  \__|\________| \______/    \__|   \__|  \__| \______/ \__|  \__|
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/neutron8.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://xcruxiex.github.io/themes/core/settings-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Custom font import link (see fonts.google.com) */
/*##########################################################################

                 CHANGE VALUES BELOW TO CUSTOMIZE YOU THEME

##########################################################################*/
:root {
  /* COLORS */
  --themeColor1: #36D1DC; /* Theme's color 1 */
  --themeColor2: #5B86E5; /* Theme's color 2 */

  /* CUSTOM FONT */
  --customFont: 'Open sans', sans-serif; /* Custom font, change the name in 'font name here', you must import the font first */

  /* HOME BUTTON */
  --homeImage: url('https://i.imgur.com/gvFYrTh.png');/* Home button image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --homeImageSize: cover;/* To cover the button, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */

  /* BACKGROUND */
  --backgroundColor: #0d0d0d; /* Background color */
  --backgroundImage: url('https://i.imgur.com/Qu2Tci2.jpeg'); /* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --backgroundPosition: center; /* Image position | center, left, right, bottom, top */
  --backgroundSize: cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --backgroundRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --backgroundBlur: 100px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --backgroundOpacity: .65; /* 0 is transparent */

  /* CODE BLOCKS */
  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);
}
