/**
* @name NewNoct
* @version 3.0.2
* @description For when default discord just isn't dark enough, a theme for those who live a night
* @author Spectra and w1zard and cruxie
* @invite PZdnCVD
* @source https://xcruxiex.github.io//themes
* @website https://betterdiscord.app/theme/Nocturnal
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/nocturnal.css");
/*



NNNNNNNN        NNNNNNNN                                              tttt                                                                                   lllllll
N:::::::N       N::::::N                                           ttt:::t                                                                                   l:::::l
N::::::::N      N::::::N                                           t:::::t                                                                                   l:::::l
N:::::::::N     N::::::N                                           t:::::t                                                                                   l:::::l
N::::::::::N    N::::::N   ooooooooooo       ccccccccccccccccttttttt:::::ttttttt    uuuuuu    uuuuuu rrrrr   rrrrrrrrr   nnnn  nnnnnnnn      aaaaaaaaaaaaa    l::::l
N:::::::::::N   N::::::N oo:::::::::::oo   cc:::::::::::::::ct:::::::::::::::::t    u::::u    u::::u r::::rrr:::::::::r  n:::nn::::::::nn    a::::::::::::a   l::::l
N:::::::N::::N  N::::::No:::::::::::::::o c:::::::::::::::::ct:::::::::::::::::t    u::::u    u::::u r:::::::::::::::::r n::::::::::::::nn   aaaaaaaaa:::::a  l::::l
N::::::N N::::N N::::::No:::::ooooo:::::oc:::::::cccccc:::::ctttttt:::::::tttttt    u::::u    u::::u rr::::::rrrrr::::::rnn:::::::::::::::n           a::::a  l::::l
N::::::N  N::::N:::::::No::::o     o::::oc::::::c     ccccccc      t:::::t          u::::u    u::::u  r:::::r     r:::::r  n:::::nnnn:::::n    aaaaaaa:::::a  l::::l
N::::::N   N:::::::::::No::::o     o::::oc:::::c                   t:::::t          u::::u    u::::u  r:::::r     rrrrrrr  n::::n    n::::n  aa::::::::::::a  l::::l
N::::::N    N::::::::::No::::o     o::::oc:::::c                   t:::::t          u::::u    u::::u  r:::::r              n::::n    n::::n a::::aaaa::::::a  l::::l
N::::::N     N:::::::::No::::o     o::::oc::::::c     ccccccc      t:::::t    ttttttu:::::uuuu:::::u  r:::::r              n::::n    n::::na::::a    a:::::a  l::::l
N::::::N      N::::::::No:::::ooooo:::::oc:::::::cccccc:::::c      t::::::tttt:::::tu:::::::::::::::uur:::::r              n::::n    n::::na::::a    a:::::a l::::::l
N::::::N       N:::::::No:::::::::::::::o c:::::::::::::::::c      tt::::::::::::::t u:::::::::::::::ur:::::r              n::::n    n::::na:::::aaaa::::::a l::::::l
N::::::N        N::::::N oo:::::::::::oo   cc:::::::::::::::c        tt:::::::::::tt  uu::::::::uu:::ur:::::r              n::::n    n::::n a::::::::::aa:::al::::::l
NNNNNNNN         NNNNNNN   ooooooooooo       cccccccccccccccc          ttttttttttt      uuuuuuuu  uuuurrrrrrr              nnnnnn    nnnnnn  aaaaaaaaaa  aaaallllllll 2


*/
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://xcruxiex.github.io/themes/core/hljs.css"); /* Code Block Styles */
@import url("https://davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css");
@import url("https://raw.githubusercontent.com/DiscordStyles/RadialStatus/deploy/RadialStatus.css"); /* Radial Status */


/* <<<< To change colors, add the symbols that are at the start and end of each line and remove/add them to activate/deactivate colors >>>> */


@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url('https://discordstyles.github.io/RadialStatus/RadialStatus.css');
:root {

/* -- COLORS PRESETS -- *//*
Enable or disable each color preset: Remove the last `/*` after the name of each preset. 
The enabled preset by default is an example of how to do this.
*/

/* Nocturnal 3.0 */  
  --backgroundColor01: #1e2731;
  --backgroundColor02: #12171d;
  --mainColor: #2275c9;
  --rs-online-color: #2275c9;
  --rs-phone-color: #2275c9;
  --gradientColor01: #00F260;
  --gradientColor02: #0575E6;

/* Bluey */  /*
  --mainColor: #a3c7d9; 
  --rs-online-color: #a3c7d9;
  --rs-phone-color: #a3c7d9;
  --gradientColor01: #a3c7d9; 
  --gradientColor02: #2275c9;
  --backgroundColor01: #181e21;
  --backgroundColor02: #0f1214;
  --linkcolor: #597285;
  --backgroundCode: #162329;

/* Purple */  /* 
  --backgroundColor01: #110022; 
  --backgroundColor02: #0a0014;
  --mainColor: #6900d1;
  --rs-online-color: #6900d1;
  --rs-phone-color: #6900d1;
  --gradientColor01: #7800f1;
  --gradientColor02: #bb00c5;
  --linkcolor: #6900d1;
  --backgroundCode: #120024;


  /* Better Hljs */
  --backgroundCode: var(--backgroundColor01);
  --backgroundName: rgba(0, 0, 0, .2);

  /* Radial Status */
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;

  /* Custom Font */
  --customFont: 'gg sans', sans-serif;
}
