//META{"name":"Settings Icons","description":"Add little icons to settings categories","author":"Spectra","version":"AutoUpdate"}*//{}
@import url('https://codedotspectra.github.io/themes/mini-themes/settingsIcons.css');
