.header-2V-4Sw,
.container-2ax-kl,
.base-1x0h_U,
.title-3sZWYQ,
.header-2RyJ0Y,
::-webkit-input-placeholder,
body:not([class*=hljs]):not(code):not([class*=ace_]) {
    font-family: var(--customFont) !important;
}
.ace_editor {
    font: 17px/normal Monaco,Menlo,'Ubuntu Mono',Consolas,source-code-pro,monospace !important;
}
