:root {
    --font-primary: var(--customFont), "gg sans";
    --font-display: var(--customFont), "gg sans";
}

::placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--customFont) !important;
}