
.sidebar__02e8d .side_b4b3f6 #bd-settings-sidebar .ui-bar-item:not(.role-3pGE29)::before,
.side_b4b3f6 .item__48dda:not(.role-3pGE29)::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8;
    filter: invert(100%)
}
.side_b4b3f6[aria-label="User Settings"] .item__48dda {padding-left: 35px !important;}
div[aria-label="GUILD_SETTINGS"] .side_b4b3f6 .item__48dda {padding-left: 10px;}

.premiumLabel__68f78 svg {display: none;}
.tabBarItemContainer__5d798 svg{display:none;}
.selectedBackground__4039b {display: none;}
.premiumTab_ad0913.item__48dda.selected_a523ff.themed_b957e8 {background-color: #5865f2;}
.premiumTab_ad0913.item__48dda.selected_a523ff.themed_b957e8:hover {background-color: #5865f2;}

/* User Settings */
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(2)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/MyAccount.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(3)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Profiles.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(4)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Privacy&Safety.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(5)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/AuthorisedApps.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(6)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Devices.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(7)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Connections.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(8)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/FriendRequests.svg");}
/* Payment Settings */
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(11)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Nitro.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(12)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/ServerBoost.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(13)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Subscriptions.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(14)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/GiftInventory.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(15)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Billing.svg");}
/* App Settings */
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(18)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Appearance.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(19)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Accessibility.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(20)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Voice&Video.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(21)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Text&Images.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(22)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Notifications.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(23)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Keybinds.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(24)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Language.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(25)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/WindowsSettings.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(26)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/StreamerMode.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(27)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/Advanced.svg");}
/* Activity Settings */
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(30)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/ActivityPrivacy.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(31)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/RegisteredGames.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(32)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/GameOverlay.svg");}
/* better discord settings */
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(35)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/BDSettings.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(36)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/BDUpdates.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(37)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/BDCustomCSS.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(38)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/BDPlugins.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(39)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/BDThemes.svg");}
/* Misc */
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(41)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/WhatsNew.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(42)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/HypeSquad.svg");}
.side_b4b3f6[aria-label="User Settings"] .item__48dda:nth-child(44)::before {background-image: url("https://xcruxiex.github.io/themes/core/Settings-Icons/LogOut.svg");}
