@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url("https://codedotspectra.github.io/themes/core/custom-font.css");
@import url("https://codedotspectra.github.io/themes/core/hljs.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
:root {
  --customFont: "Open Sans";
}
.sidebar-nqHbhN .side-2ur1Qk #bd-settings-sidebar .ui-tab-bar-item:not(.role-3pGE29)::before,
.side-2ur1Qk .item-3XjbnG:not(.role-3pGE29)::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8;
}
.side-2ur1Qk .item-3XjbnG {padding-left: 35px !important;}
div[aria-label="GUILD_SETTINGS"] .side-2ur1Qk .item-3XjbnG {padding-left: 10px;}

/* discord settings */
.side-2ur1Qk .item-3XjbnG[aria-controls="my-account-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/account.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="profile-customization-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/profile.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="privacy-&-safety-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/privacy.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="authorized-apps-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/apps.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="connections-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/connection.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="discord-nitro-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/nitro.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="nitro-server-boost-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/boost.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="discord-nitro-tab"] svg {display: none;}
.side-2ur1Qk .item-3XjbnG[aria-controls="Nitro Server Boost-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/boost.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="billing-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/billing.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="subscriptions-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/billing.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="library-inventory-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/giftbox.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="appearance-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/appearance.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="accessibility-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/accesibility.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="voice-&-video-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/microphone.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="text-&-images-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/text.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="notifications-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/notification.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="keybinds-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/keyboard.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="language-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/language.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="windows-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/windows.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="streamer-mode-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/streamer.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="advanced-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/settings.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="game-activity-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/activity.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="overlay-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/overlay.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="changelog-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/changelog.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="hypesquad-online-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/hype.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/logout.png');}


/* better discord settings */
.side-2ur1Qk .item-3XjbnG[aria-controls="settings-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/bdsettings.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="emotes-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/emotes.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="customcss-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/css.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="plugins-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/plugin.png');}
.side-2ur1Qk .item-3XjbnG[aria-controls="themes-tab"]::before {background-image: url('https://limeshark.dev/img/bdi/theme.png');}
