.sidebar-nqHbhN .side-2ur1Qk #bd-settings-sidebar .ui-bar-item:not(.role-3pGE29)::before,
.side-2ur1Qk .item-3XjbnG:not(.role-3pGE29)::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8;
}
.side-2ur1Qk .item-3XjbnG {padding-left: 35px !important;}
div[aria-label="GUILD_SETTINGS"] .side-2ur1Qk .item-3XjbnG {padding-left: 10px;}

.premiumLabel-3HPvdB svg {display: none;}
.tabBarItemContainer-2HdIlr svg{display:none;}

/* User Settings */
.side-2ur1Qk .item-3XjbnG[aria-label="My Account"]::before {background-image: url("/core/Settings-Icons/MyAccount.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Profiles"]::before {background-image: url("/core/Settings-Icons/Profiles.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Privacy & Safety"]::before {background-image: url("/core/Settings-Icons/Privacy&Safety.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Authorized Apps"]::before {background-image: url("/core/Settings-Icons/AuthorisedApps.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Connections"]::before {background-image: url("/core/Settings-Icons/Connections.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Friend Requests"]::before {background-image: url("/core/Settings-Icons/FriendRequests.svg");}
/* Payment Settings */
.side-2ur1Qk .item-3XjbnG[aria-label="Nitro"]::before {background-image: url("/core/Settings-Icons/Nitro.svg");fill: url(#uid_4845);}
.side-2ur1Qk .item-3XjbnG[aria-label="Server Boost"]::before {background-image: url("/core/Settings-Icons/ServerBoost.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Subscriptions"]::before {background-image: url("/core/Settings-Icons/Subscriptions.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Gift Iventory"]::before {background-image: url("/core/Settings-Icons/GiftInventory.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Billing"]::before {background-image: url("/core/Settings-Icons/Billing.svg");}
/* App Settings */
.side-2ur1Qk .item-3XjbnG[aria-label="Appearance"]::before {background-image: url("/core/Settings-Icons/Appearance.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Accessibility"]::before {background-image: url("/core/Settings-Icons/Accessibility.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Voice & Video"]::before {background-image: url("/core/Settings-Icons/Voice&Video.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Text & Images"]::before {background-image: url("/core/Settings-Icons/Text&Images.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Notifications"]::before {background-image: url("/core/Settings-Icons/Notifications.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Keybinds"]::before {background-image: url("/core/Settings-Icons/Keybinds.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Language"]::before {background-image: url("/core/Settings-Icons/Language.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Windows Settings"]::before {background-image: url("/core/Settings-Icons/WindowsSettings.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Streamer Mode"]::before {background-image: url("/core/Settings-Icons/StreamerMode.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Advanced"]::before {background-image: url("/core/Settings-Icons/Advanced.svg");}
/* Activity Settings */
.side-2ur1Qk .item-3XjbnG[aria-label="Activity Privacy"]::before {background-image: url("/core/Settings-Icons/ActivityPrivacy.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Registered Games"]::before {background-image: url("/core/Settings-Icons/RegisteredGames.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Game Overlay"]::before {background-image: url("/core/Settings-Icons/GameOverlay.svg");}
/* better discord settings */
.side-2ur1Qk .item-3XjbnG[aria-label="Settings"]::before {background-image: url("/core/Settings-Icons/BDSettings.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Updates"]::before {background-image: url("/core/Settings-Icons/BDUpdates.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Custom SS"]::before {background-image: url("/core/Settings-Icons/BDCustomCSS.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Plugins"]::before {background-image: url("/core/Settings-Icons/BDPlugins.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Themes"]::before {background-image: url("/core/Settings-Icons/BDThemes.svg");}
/* Misc */
.side-2ur1Qk .item-3XjbnG[aria-label="What's New"]::before {background-image: url("/core/Settings-Icons/What'sNew.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="HypeSquad"]::before {background-image: url("/core/Settings-Icons/HypeSquad.svg");}
.side-2ur1Qk .item-3XjbnG[aria-label="Log Out"]::before {background-image: url("/core/Settings-Icons/LogOut.svg");}
