:root {
  --backgroundColor: #000;
  --backgroundImage: url('https://1.bp.blogspot.com/-ag1lrK1s6lo/Ud6E-V7LNFI/AAAAAAAABO8/Z6YJ8XmjWs4/s1600/Sky+Anime+Landscape+33.jpg');
  --backgroundPosition: center;
  --backgroundSize: cover;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0;
  --backgroundOpacity: 0.5;
}
.appMount-3lHmkl, body {
  background-color: var(--backgroundColor) !important;
}
.bg-h5JY_x {
  background-color: transparent;
  background-position: var(--backgroundPosition);
  background-repeat: var(--backgroundRepeat);
  background-size: var(--backgroundSize);
  background-image: var(--backgroundImage);
  opacity: var(--backgroundOpacity);
  filter: blur(var(--backgroundBlur));
}

/* transparent background */
.app-2rEoOp,
.wrapper-1Rf91z,
.wrapper-2qzCYF,
.wrapper-2qzCYF.minimum-28Z35l,
.scroller-2TZvBN,
.sidebar-2K8pFh,
.chat-3bRxxu,
.layer-3QrUeG,
.container-1r6BKw.themed-ANHk51,
.members-1998pB,
.messages-3amgkR,
.container-PNkimc,
.panels-j1Uci_,
.privateChannels-1nO12o,
.applicationStore-1pNvnv,
.wrapper-KXM2i0,
.scroller-1JbKMe,
.scroller-1IIF0A,
.scroller-2XE8rp,
.scroller-9moviB,
.scroller-305q3I,
.container-1D34oG,
.header-39GIC8,
.inviteToolbar-3F-l2g,
.contentRegion-3nDuYy,
.sidebarRegionScroller-3MXcoP,
.nowPlayingColumn-2sl4cE,
.pageWrapper-1PgVDX,
.contentRegionScroller-26nc1e,
.standardSidebarView-3F1I7i {
  background: transparent !important;
}

/* removing things */
.content-yTz4x3:before,
.children-19S4PO:after,
.form-2fGMdU:before {
    display: none !important;
}
.searchBar-6Kv8R2,
.header-2o-2hj {box-shadow: none !important;}
.bg-AYqtMd {-webkit-mask: linear-gradient(to bottom, black, transparent 75%)}
