/* 
 * Nocturnal community version
 */


/* Revert for discords new pop-out UI */

.profileBanner-33-uE1{
	height: 78px;
}
.avatarWrapper-3r9PdD{
	left: 82px;
}
.avatarPositionPremium-3We5Ho{
	top: 140px;
}

.popoutBanner-19WKGg{
	display: none !important;
}
.avatarPositionNormal-aZjAsn{
	left: 82px !important;
}
.avatarPositionNormal-1CZUPk{
	top: 25px !important;
}
.headerTop-3vNv-a{
	text-align: center;
	border-bottom: none;
	padding: 124px 16px 1px;
}
.userPopout-3XzG_A .date-YN6TCS{
	text-align: center;
}
.customStatus-oN4ZZY{
	text-align: center;
}
.userPopout-xaxa6l{
	width: 260px !important;
}
.profileBadges-ohc0Vu{
	max-width: 80px;
}

/* Blur for main pop-outs */
.backdrop-1wrmKB{
	backdrop-filter: blur(2.5px);
	background: rgba(0, 0, 0, 0.75) !important;
}
