/* Compact member list */
.membersWrap-2h-GB4 {
  width: 55px;
  min-width:unset;
  transition: all .25s ease;
}
.membersWrap-2h-GB4:hover{
  width: 240px;
}
.membersGroup-v9BXpm {
  transition: all .5s ease;
  transform: translateX(150px);
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: translateX(0);
}
