:root {
  --backgroundCode: #1c1c1c;
  --backgroundName: #0c0c0c;
  --nameShadow: #268bd2;
}

.markup-2BOw-j code,
.markup-2BOw-j code.inline {
  background: var(--backgroundCode);
  box-sizing: border-box;
  border-radius: 0 0 6px 6px;
  border: 1px solid var(--backgroundName);
  margin-top: 20px;
  overflow: visible !important;
  position: relative;
}
.markup-2BOw-j pre {
  background: transparent;
  border: none;
}
.hljs:before {
  content: "";
  padding: 1px 7px 1px 7px;
  position: absolute;
  top: -20px;
  left: -1px;
  color: #fff;
  border-radius: 4px 4px 0 0;
  background: var(--backgroundName);
  width: calc(100% + 2px);
  box-sizing: border-box;
  font-weight: bold;
  text-shadow: 0 1px 0 var(--nameShadow);
}
.css:before {content: "CSS";}
.js:before {content: "Javascript";}
.php:before {content: "PHP";}
.java:before {content: "Java";}
.csharp:before {content: "C#";}
.c:before {content: "C";}
.cpp:before {content: "C++";}
.coffeescript:before {content: "Coffeescript";}
.bash:before {content: "Bash";}
.bat:before {content: "Batch";}
.html:before {content: "HTML";}
.apache:before {content: "Apache";}
.diff:before {content: "Diff";}
.http:before {content: "HTTP";}
.json:before {content: "JSON";}
.markdown:before {content: "Markdown";}
.makfile:before {content: "Makefile";}
.nginx:before {content: "Nginx";}
.perl:before {content: "Perl";}
.properties:before {content: "Properties";}
.ruby:before {content: "Ruby";}
.python:before {content: "Python";}
.shell:before {content: "Shell";}
.sql:before {content: "SQL";}
.powershell:before {content: "PowerShell";}
.xml:before {content: "XML";}
.objectivec:before {content: "Objective-C";}
.CSS:before {content: "CSS";}
.py:before {content: "PY";}
.ts:before {content: "TypeScript";}
.typescript:before {content: "TypeScript";}
.scss:before {content: "SCSS";}
.less:before {content: "Less CSS";}
