.sidebar-CFHs9e .side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:not(.role-3wi9Tf)::before,
.side-8zPYf6 .item-PXvHYJ:not(.role-3wi9Tf)::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: cover!important;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item, .side-8zPYf6 .item-PXvHYJ {padding-left: 40px;}
div[aria-label="GUILD_SETTINGS"] .side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item,
div[aria-label="GUILD_SETTINGS"] .side-8zPYf6 .item-PXvHYJ {padding-left: 10px;}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(2)::before{background:url(https://arudarin.github.io/themes/icons/account.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(3)::before{background:url(https://arudarin.github.io/themes/icons/privacy.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(4)::before{background:url(https://arudarin.github.io/themes/icons/apps.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(5)::before{background:url(https://arudarin.github.io/themes/icons/connections.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(6)::before{background:url(https://arudarin.github.io/themes/icons/billing.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(8)::before{background:url(https://arudarin.github.io/themes/icons/nitro.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(9)::before{background:url(https://arudarin.github.io/themes/icons/boost.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(10)::before{background:url(https://arudarin.github.io/themes/icons/hype.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(12)::before{background:url(https://arudarin.github.io/themes/icons/voice.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(13)::before{background:url(https://arudarin.github.io/themes/icons/overlay.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(14)::before{background:url(https://arudarin.github.io/themes/icons/notifications.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(15)::before{background:url(https://arudarin.github.io/themes/icons/keybinds.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(16)::before{background:url(https://arudarin.github.io/themes/icons/games.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(17)::before{background:url(https://arudarin.github.io/themes/icons/activity_feed.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(18)::before{background:url(https://arudarin.github.io/themes/icons/gamepad.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(19)::before{background:url(https://arudarin.github.io/themes/icons/text.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(20)::before{background:url(https://arudarin.github.io/themes/icons/eye.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(21)::before{background:url(https://arudarin.github.io/themes/icons/twitch.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(22)::before{background:url(https://arudarin.github.io/themes/icons/language.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(23)::before{background:url(https://arudarin.github.io/themes/icons/windows.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(25)::before{background:url(https://arudarin.github.io/themes/icons/changelog.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(26)::before{background:url(https://arudarin.github.io/themes/icons/experiments.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(27)::before{background:url(https://arudarin.github.io/themes/icons/dev_options.png) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(3)::before{background:url(https://arudarin.github.io/themes/icons/core.png) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(4)::before{background:url(https://arudarin.github.io/themes/icons/bandages.png) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(5)::before{background:url(https://arudarin.github.io/themes/icons/emote.png) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(6)::before{background:url(https://arudarin.github.io/themes/icons/css.png) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(7)::before{background:url(https://arudarin.github.io/themes/icons/plugins.png) center}
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(8)::before{background:url(https://arudarin.github.io/themes/icons/theme.png) center}
#user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(30)::before{background:url(https://arudarin.github.io/themes/icons/logout.png) center}
