.statusProfile-3ynqtt.idle-3DEnRT {
  left: -1px;
  top: -1px;
  height: 93px;
  width: 93px;
  border: 4px solid #ffc107 !important;
  box-sizing: border-box;
  background-color: transparent !important;
  box-shadow: 0 0 20px 4px #ffc107;
}
.statusProfile-3ynqtt.online-2S838R {
  left: -1px;
  top: -1px;
  height: 93px;
  width: 93px;
  border: 4px solid #28a745 !important;
  box-sizing: border-box;
  background-color: transparent !important;
  box-shadow: 0 0 20px 4px #28a745;
}
.statusProfile-3ynqtt.dnd-1_xrcq {
  left: -1px;
  top: -1px;
  height: 93px;
  width: 93px;
  border: 4px solid #dc3545 !important;
  box-sizing: border-box;
  background-color: transparent !important;
  box-shadow: 0 0 20px 4px #dc3545;
}
.streaming-2_dnHe {border-color: #593695 !important;}
.statusProfile-3ynqtt.invisible-1kp8Z0,
.statusProfile-3ynqtt.unknown-Ms2zdV-3qoTek,
.statusProfile-3ynqtt.offline-3qoTek {
  left: -1px;
  top: -1px;
  height: 93px;
  width: 93px;
  border: 4px solid #747f8d !important;
  box-sizing: border-box;
  background-color: transparent !important;
  box-shadow: 0 0 20px 4px #747f8d;
}
.xsmall-3afG_L .status-oxiHuE {
  height: 23px;
  width: 23px;
}
.mask-3OgeRz,
.maskProfile-1ObLFT {
  -webkit-mask-size: 0%;
  -webkit-mask: none !important;
  mask: none !important;
}
.status-oxiHuE {
  left: -2px;
  top: -2px;
  height: 43px;
  width: 43px;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-color: transparent !important;
}
.videoBackground-3AY_fu .status-oxiHuE {
  left: 0;
  top: 0;
  height: 100px;
  width: 100px;
}
.status-2s6iDp {
  left: -2.5px;
  top: -2.5px;
  height: 34.5px !important;
  width: 34.5px !important;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-color: transparent !important;
}
.online-2S838R {border: 2px solid #28a745 !important;}
.dnd-1_xrcq {border: 2px solid #dc3545 !important;}
.idle-3DEnRT {border: 2px solid #ffc107 !important;}
.invisible-1kp8Z0, .offline-3qoTek, .unknown-Ms2zdV {border: 2px solid #747f8d !important;}
.avatar-small .status {
  height: 32px;
  width: 32px;
  border-radius: 0 !important;
  pointer-events: none;
}

.menu-Sp6bN1 .status-3fQvEa {
  height: 15px;
  width: 15px;
}
.menu-Sp6bN1 .online-2S838R {background-color: #28a745 !important;}
.menu-Sp6bN1 .idle-3DEnRT {background-color: #ffc107 !important;}
.menu-Sp6bN1 .dnd-1_xrcq {background-color: #dc3545 !important;}
.menu-Sp6bN1 .invisible-1kp8Z0,
.menu-Sp6bN1 .offline-3qoTek,
.menu-Sp6bN1 .unknown-Ms2zdV {
  background-color: rgb(116, 127, 141) !important;
}
.pulsingEllipsis-3YiXRF {width: 33px;}
.titleText-3X-zRE .status-oxiHuE {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  margin-left: 5px;
}
.autocompleteRowVertical-q1K4ky .status-oxiHuE {
  height: 25px;
  width: 25px;
}
.channel-2QD9_O.selected-1HYmZZ .status {
  height: 32px !important;
  width: 32px !important;
}
.titleText-3X-zRE .online-2S838R {background-color: #28a745 !important;}
.titleText-3X-zRE .dnd-1_xrcq {background-color: #dc3545 !important;}
.titleText-3X-zRE .idle-3DEnRT {background-color: #ffc107 !important;}
.titleText-3X-zRE .invisible-1kp8Z0,
.titleText-3X-zRE .offline-3qoTek,
.titleText-3X-zRE .unknown-Ms2zdV {background-color: #747f8d !important;}

#friends .status-oxiHuE {
  height: 13px;
  width: 13px;
  top: 0;
}
#friends .invisible-1kp8Z0,
#friends .offline-3qoTek,
#friends .unknown-Ms2zdV {
  background-color: #747f8d !important;
}
#friends .online-2S838R {background-color: #28a745 !important;}
#friends .dnd-1_xrcq {background-color: #dc3545 !important;}
#friends .idle-3DEnRT {background-color: #ffc107 !important;}
.side-8zPYf6 .item-PXvHYJ .status-oxiHuE {
  height: 23px !important;
  width: 23px !important;
}
.typingSpinnerItem-35chrT {box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5) !important;}
#autocomplete-popout .status-oxiHuE,
.status-oxiHuE.typing-1KJk_j,
.players-2Tcfos .status-oxiHuE,
.scroller-2CvAgC .status-oxiHuE {
  height: 33px !important;
  width: 33px !important;
}
.avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge,
.avatarHint-1qgaV3,
.image-33JSyf,
.wrapper-2F3Zv8,
.status-oxiHuE,
.status {
  border-radius: 0 !important;
}
.callAvatar-v-u4BM.video-3GgX2M,
.callAvatarBorder-1D_KaE {
  border-radius: 0 !important;
}
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {box-shadow: inset 0 0 0 2px var(--SuccesColor);}
.friendsColumnStatus-ZH4ho2 .online-2S838R {background-color: var(--SuccesColor) !important;}
.friendsColumnStatus-ZH4ho2 .idle-3DEnRT {background-color: var(--WarningColor) !important;}
.friendsColumnStatus-ZH4ho2 .dnd-1_xrcq {background-color: var(--DangerColor) !important;}
.friendsColumnStatus-ZH4ho2 .invisible-1kp8Z0,
.friendsColumnStatus-ZH4ho2 .offline-3qoTek,
.friendsColumnStatus-ZH4ho2 .unknown-Ms2zdV {background-color: #747f8d !important;}
.friendsColumnStatus-ZH4ho2 .status-oxiHuE {
  height: 15px;
  width: 15px;
  background-color: inherit;
}
.inner-1W0Bkn {border-radius: 0 !important;}
.avatarSmall-3ACRaI .status-2zcSVk {
  border-radius: 0;
  top: -1px;
  height: 32px !important;
  left: -1px;
  width: 32px !important;
  pointer-events: none;
}
.streaming-2_dnHe {border-color: #593695 !important;}
.row-rrHHJU .small-5Os1Bb .status-oxiHuE {
  width: 34px;
  height: 34px;
}
.videoBackground-3-Y-dL .wrapper-2F3Zv8 .status-oxiHuE {
  width: 93px;
  height: 93px;
  top: -1px;
  left: -1px;
}
.popoutContainer-3WC9HR .status-oxiHuE {
  height: 28px !important;
  width: 28px !important;
}
.headerAvatar-zl6ti_ .status-oxiHuE  {
  height: 36px !important;
  width: 36px !important;
}
.container-1r6BKw .status-oxiHuE {
  height: 13px;
  width: 13px;
  margin-top: 3px;
}
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .invisible-1kp8Z0,
.container-1r6BKw .invisible-1kp8Z0,
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .offline-3qoTek,
.container-1r6BKw .offline-3qoTek,
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .unknown-Ms2zdV,
.container-1r6BKw .unknown-Ms2zdV {background-color: #747f8d !important}
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .online-2S838R,
.container-1r6BKw .online-2S838R {background-color: #28a745 !important}
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .dnd-1_xrcq,
.container-1r6BKw .dnd-1_xrcq {background-color: #dc3545 !important}
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .idle-3DEnRT,
.container-1r6BKw .idle-3DEnRT{background-color: #ffc107 !important}
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .streaming-2_dnHe,
.container-1r6BKw .streaming-2_dnHe {background-color: #593695 !important}
