.guild-1EfMGQ,
.iconSizeLarge-161qtT,
.guild-1EfMGQ .guildInner-3DSoA4 a {
    height: 50px;
    width: 50px;
}
.guildsAddInner-1KMFy-{
  top: -4px;
}
.guildsWrapper-5TJh6A {
    width: 70px;
}
.guilds-1q_RqH {
    padding: 5px 0 5px 10px;
}
.friendsOnline-_wi_fM {
  margin-left: 0;
}
