/*

+ ======================= +
+ Steam Theme for Discord +
+ Version 1.0             +
+ Made by Spectra#7698    +
+ ======================= +

*/

/* home button */


/*remove useless stuff*/
#bd-pub-li,
#bd-pub-button,
.welcomeMessage-3_Mcht {
  display: none;
}

.wrapperDefaultText-2IWcE8,
.wrapperDefaultVoice-1yvceo,
.wrapperHoveredText-2geN_M,
.wrapperHoveredVoice-3ItgyI,
.wrapperLockedText-wfOnM5,
.wrapperLockedVoice-3QrBs-,
.wrapperMutedText-1YBpvv,
.wrapperMutedVoice-10gPcW,
.wrapperUnreadText-2zuiuD,
.wrapperUnreadVoice-23GIYe {
  color: #fff;
  transition: all .2s ease;
  background: #2a313b;
}
.channels-Ie2l6A {background-color: #2a313b;}

.wrapperConnectedText-3NUF2g,
.wrapperConnectedVoice-2mvQJY,
.wrapperSelectedText-3dSUjC,
.wrapperSelectedVoice-xzxa2u {

}

.da-wrapperHoveredText {
  color: #fff;
  transition: all .2s ease;
  background: #2a313b;
  padding-left: 15px;
}
