/* theme vars */
:root {
  --bgImage: url("https://i.imgur.com/ZoWEHGm.jpg");
  --mainColor: #2e3e6b;
  --mainDarker: #202b4a;
  --links: #5f4f7d;
}

/* main color */
.uploadModal-2ifh8j,
.headerPlaying-j0WQBV,
.theme-dark .headerNormal-T_seeN,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.topSectionPlaying-1J5E4n,
.bda-slist .bda-footer button,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary,
.barFill-23-gu-,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ,
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .lookOutlined-3sRXeN.colorTransparent-1ewNp9,
.side-8zPYf6 .itemSelected-1qLhcL,
.bd-pfbtn,
.theme-dark .questionMark-CWEQZn,
.aka-1mqp34,
.option-n0icdO:hover,
.selected-mKYnfr.option-n0icdO,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.need-help-modal.form.deprecated .header {
  background: var(--mainColor) !important;
}
/* main darker */
.uploadModal-2ifh8j .footer-3mqk7D,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected),
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background: var(--mainDarker) !important;
}
/* transparent */
.theme-dark .layers-3iHuyZ,
.container-2lgZY8,
.container-2lgZY8, .spacer-29U_x8,
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .members-1998pB,
.theme-dark .chat-3bRxxu form,
.theme-dark .payment-xT17Mq,
.container-2Rl01u,
.theme-dark .tileMedia-1q3guD,
.theme-dark .root-26DmKJ,
.theme-dark .modal-3HD5ck,
.theme-dark .tileMedia-24cT6_,
.header-2o-2hj,
.theme-dark .headerBar-UHpsPw,
.userSettingsVoice-iwdUCU .media-engine-video,
.layer-3QrUeG,
.theme-dark .footer-2yfCgX,
.search-bar.search-bar-light .search-bar-inner,
.search-bar .search-bar-inner,
.theme-dark .activityFeed-28jde9,
.theme-dark .header-39GIC8,
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark #friends,
.theme-dark .applicationStore-1pNvnv,
.uploadModal-2ifh8j .footer-3mqk7D .button,
.theme-dark .guildsError-3cFMtY,
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .item-1GzJrl,
.emojiPicker-3m1S-j .scrollerWrap-PyxcLY,
.theme-dark .noChannel-Z1DQK7,
.emojiPicker-3m1S-j .scroller-3vODG7,
.bda-dark #bda-qem,
.theme-dark .search-results-wrap .channel-separator .channel-name,
.bda-dark .emoji-picker .header .search-bar,
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar,
.emojiPicker-3m1S-j .header-1nkwgG,
.emojiPicker-3m1S-j .stickyHeader-1SS0JU,
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j,
.theme-dark .guildsAdd-21_IdK {
   background: transparent !important;
}
/* medium dark */
.theme-dark .chat-3bRxxu,
.container-PNkimc,
.theme-dark .standardSidebarView-3F1I7i,
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.theme-dark .item-1GzJrl:hover,
.theme-dark .container-2Thooq,
.container-1UB9sr,
.theme-dark .contentRegion-3nDuYy,
.theme-dark .body-SKIE6r,
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container,
.theme-dark .sidebarRegion-VFTUkN,
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6,
.theme-light .container-2Thooq,
.channels-Ie2l6A {
  background: rgba(0,0,0,.1) !important;
}
/* dark */
.theme-dark .guildsWrapper-5TJh6A,
.newsLink-38Naqi:hover,
.newsLink-38Naqi,
.contentSelectedText-3wUhMi,
.paginationItem-2lUq0s,
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
.contentSelectedVoice-1WDIBM,
.carousel-2WxMes,
.theme-dark .attachment-33OFj0,
.theme-dark .libraryFilterInput-3JzqZD,
.theme-dark .quickMessage-1yeL4E,
.theme-dark .inner-zqa7da,
.theme-dark .browseSearchInput-Jt8kg0,
.theme-dark .dockItem-2kQDqg:hover,
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL),
.theme-dark .applicationTile-1Goy1W,
.theme-dark .bar-2Qqk5Z,
.theme-dark #friends .friends-table .friends-row:hover,
.container-2VW0UT,
.rowWrapperActive-2L7i9f,
.popout-3sVMXz,
.channel-2QD9_O.selected-1HYmZZ a,
.channel-2QD9_O:hover a,
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected),
.theme-dark .bda-slist li,
.theme-dark .quickswitcher-3JagVE,
.theme-dark .cardPrimary-1Hv-to,
.typeWindows-1za-n7,
.theme-dark #autocomplete-popout .row.selected,
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3,
.theme-dark .search .search-bar,
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO,
.theme-dark .menu-Sp6bN1,
.theme-dark .header-1RC2Wb,
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .tier1Banner-1B_WXY,
.theme-dark .embedInner-1-fpTo,
.theme-dark .search-results-wrap .search-result .hit,
.theme-dark .search-results-wrap,
.theme-dark .messageGroupWrapper-o-Zw7G,
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .paginator-166-09,
.theme-dark .search-results-wrap .search-header,
.theme-dark .card-7JP0BX,
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline,
.theme-dark .markup-2BOw-j pre,
.theme-dark .wrapperHover-1GktnT:hover,
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .footer-1kmXd4,
.theme-dark .jumpToPresentBar-9P20AM,
.theme-dark .defaultIndicator-G3c16x,
.theme-dark .searchBar-1MOL6S,
.bda-dark #bda-qem button,
.bda-dark .emoji-picker .header .search-bar, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.theme-dark .cardPrimaryEditable-3KtE4g,
.theme-dark .wrapper-35wsBm,
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN,
.search-bar,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
  background: rgba(0,0,0,.35) !important;
}
/* super dark */
.theme-dark .modal-3HD5ck,
.theme-dark .body-3iLsc4,
.theme-dark .input-2VB9rf,
.theme-dark.contextMenu-HLZMGh,
.theme-dark .gamePreview-9weYR2,
.bda-dark #bda-qem button.active,
.theme-dark .body-3ND3kc,
.theme-dark .item-3T2z1R,
.theme-dark .header-ykumBX,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus,
.theme-dark .footer-1fjuF6 {
  background: rgba(0,0,0,.65) !important;
}
/* rounded */
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4,
.contentSelectedText-3wUhMi,
.theme-dark .input-2VB9rf,
.search-bar,
.theme-dark .attachment-33OFj0,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.carouselContainer-1KvOK0,
.carouselItem-3UIHqv,
.container-2VW0UT,
.aka-1mqp34,
.channel-2QD9_O.selected-1HYmZZ a,
.channel-2QD9_O.selected-1HYmZZ, .channel-2QD9_O:hover a,
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3,
.search-bar.search-bar-light .search-bar-inner,
.contentSelectedVoice-1WDIBM,
.search-bar .search-bar-inner,
.theme-dark .inner-zqa7da,
.uploadModal-2ifh8j .footer-3mqk7D .button-primary,
.theme-dark .quickMessage-1yeL4E,
.theme-dark .wrapperHover-1GktnT,
.theme-dark .search .search-bar,
.mention,
.side-8zPYf6 .itemSelected-1qLhcL,
.side-8zPYf6 .item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover,
.botTagRegular-2HEhHi,
.TRE-tag,
.member-3W1lQa,
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO,
::-webkit-scrollbar-track-piece {
  border-radius: 50px !important;
}
/* no border */
.theme-dark .connectedAccount-36nQx7,
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx,
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .bda-slist li,
.theme-dark .input-2VB9rf,
.emojiPicker-3m1S-j,
.bda-dark #bda-qem,
.emojiPicker-3m1S-j .header-1nkwgG,
.theme-dark .wrapper-35wsBm,
.search-bar .search-bar-inner,
.theme-dark .accountBtnInner-sj5jLs,
.theme-dark .paymentRow-2e7VM6,
.theme-dark .attachment-33OFj0,
.theme-dark .auditLog-3jNbM6,
.bda-dark #bda-qem button,
.theme-dark .search-results-wrap .search-result .search-result-message.hit,
.theme-dark .messageGroupWrapper-o-Zw7G,
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .cardPrimaryEditable-3KtE4g,
.search-bar,
.theme-dark .select-2TCrqx .Select-control,
.search-bar .search-bar-inner,
.theme-dark .search-results-wrap .search-result.expanded,
.theme-dark .select-2TCrqx .is-disabled .Select-control,
.theme-dark .markup-2BOw-j pre {border: none !important;}

.theme-dark .isMentioned-N-h9aa {border-radius: 4px;}
/* New messages notification */
.newMessagesBar-mujexs {background-color: var(--mainColor);}
.dismiss-SCAH9H {
  height: 20px;
}
#pluginNotice {
  height: 20px !important;
  line-height: 20px;
  border-radius: 0 !important;
  background-color: var(--mainColor) !important;
}
* {box-shadow: none !important;}
/* LINKS */
a,.wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input {color: var(--links) !important;}
.messagesWrapper-3lZDfY a {
    background: transparent !important;
}
.theme-dark .markup-2BOw-j a,
.theme-dark .embedTitleLink-1Zla9e {
    color: var(--links) !important;
}
/* wallpaper */
.appMount-3VJmYg {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-image: var(--bgImage) !important;
}
/* guild add btn */
.theme-dark .guildsAdd-21_IdK {
  border-color: #fff;
  color: #fff;
}
/* Themes & plugins errors */
.bd-modal-wrapper .header,
.bd-modal-wrapper .bd-modal-body {
  background: rgba(0,0,0,.5);
}
.bd-modal-wrapper .footer button {
  background-color: var(--mainColor);
}
.bd-modal-wrapper .footer button:hover {
  background-color: var(--mainDarker);
}
/* msg form */
.theme-dark .channelTextArea-rNsIhG {border: none;}
.channelTextArea-rNsIhG {
  margin-bottom: 10px;
  padding-top: 5px;
}
/* members */
.theme-dark .quickMessage-1yeL4E {
  border: none;
  box-shadow: none;
}
/* SERVER ICONS */
.guild-1EfMGQ,
.iconSizeLarge-161qtT,
.guild-1EfMGQ .guildInner-3DSoA4 a {
    height: 40px;
    width: 40px;
}
.guildsWrapper-5TJh6A {
    width: 60px;
}
.guilds-1q_RqH {
    padding: 5px 0 5px 10px;
}
.friendsOnline-_wi_fM {
  margin-left: -7px;
}
.guildsError-3cFMtY {
    height: 40px;
    width: 40px;
    line-height: 35px;
    color: #fff !important;
}
/* channel top bar */
.titleWrapper-1l0xT9,
.header-2o-2hj,
.searchBar-6Kv8R2,
.theme-dark .headerBar-UHpsPw {
  height: 40px;
}
/* server settings */
.popout-3sVMXz,
.theme-dark .menu-Sp6bN1 {
  box-shadow: none;
}

/* is typing */
.typing-2GQL18 {
    top: -19px !important;
    border-radius: 6px;
    margin-left: 16px;
    background: transparent !important;
}
/*  SCROLLBAR  */
::-webkit-scrollbar {border: none !important;width: 6px !important;}
::-webkit-scrollbar-track {background: transparent;border: none !important;}
::-webkit-scrollbar-track-piece {background: transparent !important;border: none !important;}
::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.45) !important;border-radius: 20px !important;border: none !important;}
/* afzezegfezg */
.typeWindows-1za-n7 {
  margin:0;
  height: 23px;
}
.winButton-iRh8-Z {
  height: 23px;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
  background-color: #fff !important;
  color: var(--mainColor);
}
.container-1UB9sr {border:none;}
.theme-dark .wrapper-3WhCwL, .mention {padding: 0 7px 0 7px;}
#bd-pub-button {background-color: #fff;color:var(--mainColor);font-weight: bold;}
.theme-dark .membersGroup-v9BXpm,
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {color: hsla(0,0%,100%,.7);}
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {color: hsla(0,0%,100%,.3);}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H,.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {color: hsla(0,0%,100%,.85);}
.theme-dark .embedInner-1-fpTo {border: none;}
.theme-dark .isMentioned-N-h9aa {border-left: 4px solid #faa61a;}
.isMentionedCozy-3isp7y:after {display: none;}
.guildSeparator-1X4GQ1 {margin-left: -5px;}
.theme-dark .guildSeparator-1X4GQ1:after {background: #fff;}
.theme-dark .card-FDVird:before,
.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] {
  background: var(--mainColor) !important;
  border-color: var(--mainColor) !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] .checked-3_4uQ9 {
    border-color: var(--mainColor) !important;
    color: var(--mainColor) !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] .checked-3_4uQ9 polyline {
    stroke: var(--mainColor) !important;
}
.theme-dark .lookOutlined-3sRXeN.colorTransparent-1ewNp9 {
  border: none;
  color: #fff !important;
}
.theme-dark .input-cIJ7To:focus {
  border-color: var(--mainColor);
}
.searchBar-6Kv8R2 {
  box-shadow: none;
}
.theme-dark .guild-1EfMGQ.audio-3vVhBi:after, .theme-dark .guild-1EfMGQ.video-15yGu3:after,
.theme-dark .guildIconExpired-2Qcq05 {
  background-color: rgba(0,0,0,.4);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  background: var(--mainColor);
  border: none;
  color: #fff !important;
}
.theme-dark .itemBackground-1jfD8p:before,
.theme-dark .mediaFade-1SdEfL,
.theme-dark .description-3rB3Rp {
  background: linear-gradient(180deg,transparent,transparent 45%,rgba(0,0,0,.35));
}.theme-dark .search-results-wrap .search-result:after,
.theme-dark .search-results-wrap .search-result:before {display: none;}
.wrapper-3jrx9n {border-color: var(--mainColor);}
#qs_directory {background: rgba(0,0,0,.35);color:#fff;border: none;}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {background-color: var(--mainColor);}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {background-color: var(--mainDarker);}
.textAreaEdit-bNLDk3, .textAreaEnabled-3vQ5WZ, .textAreaEnabledNoAttach-1WxUwj, .textAreaForm-18s4EO {border-radius: 0;}
.guild-1EfMGQ .avatar-small {border-radius: 50%;}
.lookFilled-1Gx00P.colorGreen-29iAKY {color: #fff !important;}
.theme-dark .accountBtnInner-sj5jLs {background-color: rgba(0,0,0,.35);}
.jumpToPresentBar-9P20AM {border-radius: 50px;}
.search-bar.search-bar-light {height:15px;}
.chat-3bRxxu form {margin: 0;padding: 0 10px 0 10px;}
.avatar-uploader-inner {background-color: transparent;}
.theme-dark .avatar-uploader .remove-button {border: 1px solid #ee1111;border-radius: 6px;color: #ee1111 !important;padding: 10px;}
